#header{
	background: #006;
	color: #FFA;
	width: 100%;
	overflow: hidden;
}

#login{
	float: right;
	padding: 15px;
}

h1{
	float: center;
	font-size: em;
	font-family: 'times';
	background: #006;
}


#descform{
	width: 65%;
	margin-left: 20px;
	margin-bottom: 45px;
}
#descform input[type=text]{
	width: 50%;
}
 #descform textarea{
  width: 75%;
  height: 50px;
 }

 #dropper{
 	margin: 30px auto;
 	text-align: center;
  position: relative;;
 }
 #dropper img{
 	/*width: 70%;*/
 	border: solid #559 1px;
 	border-radius: 15px;
 	padding: 5%;
 	box-shadow:7px 7px 15px #AAA inset;
 }
 



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
